
body {
  font-family: 'Biryani', sans-serif;
}

h1 {
  text-align: left;
  font-style: italic;
  font-weight: 900;
}

h3 {
  font-family: 'Biryani', sans-serif;
}

h4 {
  font-family: 'Biryani', sans-serif;
}

p {
  font-family: 'PT Serif', serif;
}

p.text-muted {
  font-family: 'Biryani', sans-serif;
}

button {
  align-content: center;
}


.cardDiv {
  display: flex; 
  flex-wrap: wrap;
}

.card {
  text-align: center;
  margin: 40px; 
  width: 85%; 
}

.card-body > p:first-child {
  font-weight: bold;
}

.dog-footer {
  background-color: rgb(213, 235, 245); 
  text-transform: capitalize;
}

.cat-footer {
  background-color: rgb(219, 238, 212);
  text-transform: capitalize;
}

.dino-footer {
  background-color: rgb(252, 247, 224); 
  text-transform: capitalize;
}

.newPetContainer {
  width: 50%; 
  margin: 10px 0; 
  justify-content: center;
}

.form-group {
  margin: 10px 0; 
}

form > h3 {
  text-align: center;
  
}

#type {
  text-align: center;
}

.buttonContainer select {
  justify-content: center;
}

.buttonContainer {
  margin: 10px 0 0 0; 
}

form > submit {
  justify-content: center;
}

#filter-btns {
  margin-bottom: 20px;
}

@media (min-width: 736px) {
  .card {
    width: 18rem; 
  }
  h1 {
    margin-left: 0;
  }

  .container {
    margin-left: 0;
  }

}
